<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [1]:
!pip install yfinance
!pip install bs4
!pip install nbformat
!pip install --upgrade plotly

Requirement already satisfied: yfinance in c:\users\user-pc\anaconda3\lib\site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\user-pc\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user-pc\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\user-pc\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\user-pc\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\user-pc\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user-pc\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user-pc\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user-pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user-pc\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user-pc\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user-pc\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: bs4 in c:\users\user-pc\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\user-pc\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\user-pc\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: nbformat in c:\users\user-pc\anaconda3\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\user-pc\anaconda3\lib\site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\user-pc\anaconda3\lib\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\user-pc\anaconda3\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\user-pc\anaconda3\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\user-pc\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user-pc\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user-pc\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user-pc\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\user-pc\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.7)
Requirement already satisfied: pywin32>=300 in c:\users\user-pc\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (308)
Requirement already satisfied: plotly in c:\users\user-pc\anaconda3\lib\site-packages (5.24.1)
Collecting plotly
  Downloading plotly-6.2.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\user-pc\anaconda3\lib\site-packages (from plotly) (1.31.0)
Requirement already satisfied: packaging in c:\users\user-pc\anaconda3\lib\site-packages (from plotly) (24.2)
Downloading plotly-6.2.0-py3-none-any.whl (9.6 MB)
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/9.6 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.6 MB 421.2 kB/s eta 0:00:22
   -- ------------------------------------- 0.5/9.6 MB 421.2 kB/s eta 0:00:22
   --- ------------------------------------ 0.8/9.6 MB 440.9 kB/s eta 0:00:21
   --- ------------------------------------ 0.8/9.6 MB 440.9 kB/s eta 0:00:21
   --- ------------------------------------ 0.8/9.6 MB 440.9 kB/s eta 0:00:21
   ---- ----------------------------------- 1.0/9.6 MB 460.4 kB/s eta 0:00:19
   ---- ----------------------------------- 1.0/9.6 MB 460.4 kB/s eta 0:00:19
   ----- ---------------------------------- 1.3/9.6 MB 468.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.3/9.6 MB 468.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.3/9.6 MB 468.6 kB/s eta 0:00:18
   ------ --------------------------------- 1.6/9.6 MB 450.7 kB/s eta 0:00:18
   ------ --------------------------------- 1.6/9.6 MB 450.7 kB/s eta 0:00:18
   ------- -------------------------------- 1.8/9.6 MB 487.2 kB/s eta 0:00:17
   ------- -------------------------------- 1.8/9.6 MB 487.2 kB/s eta 0:00:17
   -------- ------------------------------- 2.1/9.6 MB 477.3 kB/s eta 0:00:16
   -------- ------------------------------- 2.1/9.6 MB 477.3 kB/s eta 0:00:16
   -------- ------------------------------- 2.1/9.6 MB 477.3 kB/s eta 0:00:16
   --------- ------------------------------ 2.4/9.6 MB 473.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.4/9.6 MB 473.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.4/9.6 MB 473.0 kB/s eta 0:00:16
   ---------- ----------------------------- 2.6/9.6 MB 460.7 kB/s eta 0:00:16
   ---------- ----------------------------- 2.6/9.6 MB 460.7 kB/s eta 0:00:16
   ---------- ----------------------------- 2.6/9.6 MB 460.7 kB/s eta 0:00:16
   ----------- ---------------------------- 2.9/9.6 MB 454.6 kB/s eta 0:00:15
   ----------- ---------------------------- 2.9/9.6 MB 454.6 kB/s eta 0:00:15
   ----------- ---------------------------- 2.9/9.6 MB 454.6 kB/s eta 0:00:15
   ------------- -------------------------- 3.1/9.6 MB 450.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.1/9.6 MB 450.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.1/9.6 MB 450.4 kB/s eta 0:00:15
   -------------- ------------------------- 3.4/9.6 MB 448.4 kB/s eta 0:00:14
   -------------- ------------------------- 3.4/9.6 MB 448.4 kB/s eta 0:00:14
   -------------- ------------------------- 3.4/9.6 MB 448.4 kB/s eta 0:00:14
   --------------- ------------------------ 3.7/9.6 MB 450.1 kB/s eta 0:00:14
   --------------- ------------------------ 3.7/9.6 MB 450.1 kB/s eta 0:00:14
   ---------------- ----------------------- 3.9/9.6 MB 454.1 kB/s eta 0:00:13
   ---------------- ----------------------- 3.9/9.6 MB 454.1 kB/s eta 0:00:13
   ----------------- ---------------------- 4.2/9.6 MB 456.2 kB/s eta 0:00:12
   ----------------- ---------------------- 4.2/9.6 MB 456.2 kB/s eta 0:00:12
   ----------------- ---------------------- 4.2/9.6 MB 456.2 kB/s eta 0:00:12
   ------------------ --------------------- 4.5/9.6 MB 458.8 kB/s eta 0:00:12
   ------------------ --------------------- 4.5/9.6 MB 458.8 kB/s eta 0:00:12
   ------------------- -------------------- 4.7/9.6 MB 462.4 kB/s eta 0:00:11
   ------------------- -------------------- 4.7/9.6 MB 462.4 kB/s eta 0:00:11
   ------------------- -------------------- 4.7/9.6 MB 462.4 kB/s eta 0:00:11
   -------------------- ------------------- 5.0/9.6 MB 461.3 kB/s eta 0:00:11
   -------------------- ------------------- 5.0/9.6 MB 461.3 kB/s eta 0:00:11
   --------------------- ------------------ 5.2/9.6 MB 463.1 kB/s eta 0:00:10
   --------------------- ------------------ 5.2/9.6 MB 463.1 kB/s eta 0:00:10
   ---------------------- ----------------- 5.5/9.6 MB 465.7 kB/s eta 0:00:09
   ---------------------- ----------------- 5.5/9.6 MB 465.7 kB/s eta 0:00:09
   ----------------------- ---------------- 5.8/9.6 MB 470.2 kB/s eta 0:00:09
   ----------------------- ---------------- 5.8/9.6 MB 470.2 kB/s eta 0:00:09
   ------------------------- -------------- 6.0/9.6 MB 475.5 kB/s eta 0:00:08
   ------------------------- -------------- 6.0/9.6 MB 475.5 kB/s eta 0:00:08
   -------------------------- ------------- 6.3/9.6 MB 480.5 kB/s eta 0:00:07
   -------------------------- ------------- 6.3/9.6 MB 480.5 kB/s eta 0:00:07
   --------------------------- ------------ 6.6/9.6 MB 487.1 kB/s eta 0:00:07
   ---------------------------- ----------- 6.8/9.6 MB 494.9 kB/s eta 0:00:06
   ---------------------------- ----------- 6.8/9.6 MB 494.9 kB/s eta 0:00:06
   ----------------------------- ---------- 7.1/9.6 MB 502.4 kB/s eta 0:00:06
   ------------------------------ --------- 7.3/9.6 MB 511.3 kB/s eta 0:00:05
   ------------------------------- -------- 7.6/9.6 MB 519.9 kB/s eta 0:00:04
   -------------------------------- ------- 7.9/9.6 MB 529.6 kB/s eta 0:00:04
   -------------------------------- ------- 7.9/9.6 MB 529.6 kB/s eta 0:00:04
   --------------------------------- ------ 8.1/9.6 MB 538.6 kB/s eta 0:00:03
   ---------------------------------- ----- 8.4/9.6 MB 548.4 kB/s eta 0:00:03
   ------------------------------------- -- 8.9/9.6 MB 568.5 kB/s eta 0:00:02
   -------------------------------------- - 9.2/9.6 MB 578.3 kB/s eta 0:00:01
   ---------------------------------------  9.4/9.6 MB 589.7 kB/s eta 0:00:01
   ---------------------------------------- 9.6/9.6 MB 595.2 kB/s eta 0:00:00
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.24.1
    Uninstalling plotly-5.24.1:
      Successfully uninstalled plotly-5.24.1
Successfully installed plotly-6.2.0

In [3]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
import plotly.io as pio
pio.renderers.default = "iframe"

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [4]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [5]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [5]:
tesla=yf.Ticker("TSLA")
tesla

yfinance.Ticker object <TSLA>

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [6]:
tesla_data=tesla.history(period="max")

In [112]:
tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...
2025-08-04 00:00:00-04:00,309.079987,312.119995,303.000000,309.260010,78683900,0.0,0.0
2025-08-05 00:00:00-04:00,308.950012,312.450012,305.500000,308.720001,57961300,0.0,0.0
2025-08-06 00:00:00-04:00,307.890015,320.470001,306.929993,319.910004,78523600,0.0,0.0
2025-08-07 00:00:00-04:00,319.790009,322.399994,316.160004,322.269989,66658700,0.0,0.0
2025-08-08 00:00:00-04:00,321.429993,335.149994,320.980011,329.649994,91006400,0.0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [101]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [1]:
import requests
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [2]:
soup=BeautifulSoup(html_data,"html.parser")
tables=pd.read_html(html_data)

NameError: name 'BeautifulSoup' is not defined

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [44]:
tesla_revenue=tables[2]
tesla_revenue['Revenue']

0                                              53.823B
1    Tesla is the market leader in battery-powered ...
Name: Revenue, dtype: object

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [40]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"",regex=True)

Execute the following lines to remove an null or empty strings in the Revenue column.

In [41]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [43]:
tesla_revenue.tail(5)

,Sector,Industry,Market Cap,Revenue
0,Auto/Tires/Trucks,Auto Manufacturers - Domestic,$549.575B,53.823B
1,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [45]:
gme=yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [46]:
gme_data=gme.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [102]:
gme_data.reset_index(inplace=True)
gme_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670625,1.683250,11021600,0.0,0.0
2,2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [103]:
gme_data.tail()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5905,5905,2025-08-04 00:00:00-04:00,22.250000,22.670000,22.070000,22.629999,5059400,0.0,0.0
5906,5906,2025-08-05 00:00:00-04:00,22.500000,23.049999,22.459999,22.809999,4981400,0.0,0.0
5907,5907,2025-08-06 00:00:00-04:00,22.820000,22.860001,22.420000,22.809999,4825000,0.0,0.0
5908,5908,2025-08-07 00:00:00-04:00,22.799999,23.129999,22.490000,22.650000,4456300,0.0,0.0
5909,5909,2025-08-08 00:00:00-04:00,22.629999,22.830000,22.219999,22.270000,4811700,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [11]:
html_data_2="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
r=requests.get(html_data_2)

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [53]:
soup2=BeautifulSoup(html_data_2,"html.parser")
soup2

C:\Users\User-PC\AppData\Local\Temp\ipykernel_13564\3614607243.py:1: MarkupResemblesLocatorWarning:

The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [93]:
gme_revenue=tables[2]
gme_revenue['Revenue']

0                                              53.823B
1    Tesla is the market leader in battery-powered ...
Name: Revenue, dtype: object

In [95]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"",regex=True)

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [96]:
gme_revenue.tail()

,Sector,Industry,Market Cap,Revenue
0,Auto/Tires/Trucks,Auto Manufacturers - Domestic,$549.575B,53.823B
1,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...,Tesla is the market leader in battery-powered ...

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [121]:
tesla_data['Date'] = pd.to_datetime(tesla_data['Date'])

make_graph(tesla_data,tesla_revenue,'Tesla')

KeyError: 'Date'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

In [115]:
make_graph(gme_data,gme_revenue,'GameStop')

AttributeError: 'DataFrame' object has no attribute 'Date'

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>